*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #FAFBFC;
    font-family: "Roboto", sans-serif;
}
header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    Background: #FFFFFF;
    color: #1E293B;
    text-align: center;
}
header .logo{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    color: #000000;
}
header .logo h1:hover{
    color: #D4AF37;
}
header .links{
    height: 100%;
    width: 70%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;   
    list-style: none;
    gap: 40px;
    padding-right: 100px;
}
.nav-links a{
    font-size: 20px;
    color: #1A1A1A;
    text-decoration: none;
}
.nav-links a:hover{
    color: #D4AF37;
}
.links input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
}
.links input::placeholder{
    padding-left: 10px;
    opacity: 0.5;
}
.Mainbody{
  height: 500px;
  width: 85%;
  margin-left: 130px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  background-image: url(./end.png);
  background-size: cover;
}
.Mainbody h1{
    font-size: 50px;
    color: white;
}   
.Mainbody p{
    font-size: 20px;
    color: white   ;
}
.Mainbody button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: #D4AF37;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
}